{% extends 'myadmin/adbase.html' %}


{% block content %}
{%load static%}




<div class="ind">

    <div class="site-blocks-cover" style="background-image: url('static/images/hero_1.jpg');">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 mx-auto order-lg-2 align-self-center">
            <div class="site-block-cover-content text-center">
              <h2 class="sub-title">Effective Medicine, New Medicine Everyday</h2>
              <h1>Welcome To Pharma Admin</h1>
              
            </div>
          </div>
        </div>
      </div>
    </div>

</div>

<div class="row" >
    <div  class="col-md-4 ">
      <div style="background-color: rgba(81, 234, 234, 0.9); border: 5px solid black; padding: 20px;  margin: 20px;"   >
          <svg style="font-size: 3em;
          color:#000000;
          width: 80px;
          height: 80px;
          text-align: center;
          
          " xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
            <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
          </svg>
        <h4 style="color: black;">Registered User</h4>
        <h3 style="color: black;">{{usrc}}</h3>
      </div>
    </div>
    <div  class="col-md-4 ">
      <div style="background-color: rgba(81, 234, 234, 0.9); border: 5px solid black; padding: 20px;  margin: 20px;"   >
          <svg style="font-size: 3em;
          color:#000000;
          width: 80px;
          height: 80px;
          text-align: center;
          
          " xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sunglasses" viewBox="0 0 16 16">
          <path d="M3 5a2 2 0 0 0-2 2v.5H.5a.5.5 0 0 0 0 1H1V9a2 2 0 0 0 2 2h1a3 3 0 0 0 3-3 1 1 0 1 1 2 0 3 3 0 0 0 3 3h1a2 2 0 0 0 2-2v-.5h.5a.5.5 0 0 0 0-1H15V7a2 2 0 0 0-2-2h-2a2 2 0 0 0-1.888 1.338A2 2 0 0 0 8 6a2 2 0 0 0-1.112.338A2 2 0 0 0 5 5zm0 1h.941c.264 0 .348.356.112.474l-.457.228a2 2 0 0 0-.894.894l-.228.457C2.356 8.289 2 8.205 2 7.94V7a1 1 0 0 1 1-1"/>
        </svg>
        <h4 style="color: black;">Number Of Product</h4>
        <h3 style="color: black;">{{objc}}</h3> 
      </div>
    </div>
</div>

{% endblock %}